body {
  margin: 0;
  text-align: center;
  background-color: #DBE3E5;
  padding: 150px 10px;
  font-size: 100%;
}


.main {
  background-color: #FBFBFB;
  position: relative;
  margin: auto;
  padding: 15px;
  border-radius: 30px;
  width: 30vmin;
  text-align: center;
}

.qr-code {
  position: relative;
  border-radius: 30px;
  width: 95%;
}

.second {
  position: relative;
}

h3 {
  width: 85%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 85%;
}

p {
  width: 97%;
  margin: auto;
  color: #D0C9C0;
  font-size:65%;
}

.attribution {
  font-size: 11px; text-align: center;
  padding-top: 10px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
